.science-whiz {
  background: url("/images/backgrounds/science3.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.movie-buzz {
  background: url("/images/backgrounds/movie1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.sports-fanatic {
  background: url("/images/backgrounds/sport1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.nature-and-wildlife-quiz {
  background: url("/images/backgrounds/wildlife1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.music-mania {
  background: url("/images/backgrounds/music1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.tech-trivia-trek {
  background: url("/images/backgrounds/tech1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.mythology-mayhem {
  background: url("/images/backgrounds/sport1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

.health-and-wellness-wiz {
  background: url("/images/backgrounds/health1.jpg") no-repeat top;
  background-size: cover;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .science-whiz,
  .movie-buzz,
  .sports-fanatic,
  .nature-and-wildlife-quiz,
  .music-mania,
  .tech-trivia-trek,
  .mythology-mayhem,
  .health-and-wellness-wiz {
    background-attachment: scroll;
  }
}
