.header-svg {
  height: 150px;
}

.home-header {
  transform-style: preserve-3d;
}

.home-header h1 {
  font-size: 5rem;
  font-weight: 800;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.652);
}

.available {
  padding: 1rem 0 16rem 0;
}

.header-img {
  transform: translateZ(-10px) scale(2);
}

/* .quiz-self {
  background: var(--accent-3);
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: background-color 0.5s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.155);
}

.quiz-self:hover {
  background: var(--accent-2);
} */
