@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-background-color: #0f172a;
  --base-foreground-color: #fff;

  --accent-1: #150050;
  --accent-2: #3f0071;
  --accent-3: #610094;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: linear-gradient(to top, #152344, #1e3875);
}

::-webkit-scrollbar-track {
  background: rgba(222, 227, 224, 0.266);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --base-background-color: #131313;
    --base-foreground-color: #d7ebe3;

    --accent-1: #7cf0bd;
    --accent-2: #67e0a3;
    --accent-3: #317b22;
  }
} */

*::after,
*::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--base-foreground-color);
}

body {
  font-family: "Raleway", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  transition: background-color 0.5s, color 0.8s;
  background: var(--base-background-color);
  color: var(--base-foreground-color);
  /* overflow: hidden; */
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  z-index: 10;
  color: var(--base-foreground-color);
  top: 0;
  left: 0;
  margin: 0 auto;
}

/* Others */
.text-shadow {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.377);
}
